/* Google Fonts */
/* .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
   */

/* Color
#2000E4
#FFFFFF
#202020 */

/* All Website */
/* @media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
} */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-style: italic;
}


/* Header */
header {
    position: sticky;
    top: 0px;
}

header nav {
    height: 100px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

header nav .logo img{
    width: 45%;
    padding: 0 2rem;
}

header nav .nav-items {
    display: flex;
}

header nav .nav-items a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 2rem;
}

header nav .nav-items a:hover {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    background-color: #ffffff;
    color: #2000E4;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    transition: 1.5s;
}

header nav .nav-hamburger{
    display: none;
    cursor: pointer;
    margin-right: 2em;
}

header nav .nav-hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}
/* Main */
.hero {
    background-color: #2000E4;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px)/2);
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 0rem 2rem;
}

.content-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}

.content-left p {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

.content-left button {
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #202020;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #2000E4;
    font-size: 1.3rem;
    transition: 1s;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.content-right .hero-image {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    border-top: 1px solid #ffffff;
    background-color: #2000E4;
}

footer .container {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 2rem 2rem 2rem;
}

footer .container h3 {
    margin-bottom: 20px;
}

footer .container .icon {
    display: flex;
    justify-content: center;
}

footer .container .icon a img {
    padding: 0.5rem;
    width: 75%;
}

footer .container .icon a img:hover {
    padding: 0.1rem;
    transition: 1s;
}

footer .copyright {
    background-color: #202020;
    padding: 20px;
    text-align: center;
}

footer .copyright p {
    color: #ffffff;
    font-size: 0.8rem;
}



@media screen and (max-width:768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

    header nav .nav-items {
        display: none;
        flex-direction: column;
    }

    header nav .nav-hamburger {
        display: block;
    }

    .navbar-container.active .nav-items{
        display: flex;
    }
}